[v-cloak] {
  display: none;
}

:root {
  --md-theme-default-accent: #bbdefb;
}

body, #app {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

#app .md-app-content {
  height: auto;
  overflow: hidden;
}

textarea {
  min-height: 350px !important;
  max-height: 100% !important;
}

.input-container.md-invalid .errors-box {
  border: thin solid;
  border-color: #ef5350 !important;
}

.input-container.md-invalid .md-field:before {
  border-color: #ef5350 !important;
}
