[submodule "test/token/beaba"]
	path = test/token/beaba
	url = https://github.com/ichiriac/beaba.git
[submodule "test/token/laravel"]
	path = test/token/laravel
	url = https://github.com/laravel/laravel.git
[submodule "test/token/zf2"]
	path = test/token/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "test/token/symfony"]
	path = test/token/symfony
	url = https://github.com/symfony/symfony.git
[submodule "test/token/tcpdf"]
	path = test/token/tcpdf
	url = https://github.com/tecnickcom/TCPDF
[submodule "test/token/evernote-cloud-sdk-php"]
	path = test/token/evernote-cloud-sdk-php
	url = https://github.com/evernote/evernote-cloud-sdk-php.git
[submodule "test/token/yii2"]
	path = test/token/yii2
	url = https://github.com/yiisoft/yii2.git
[submodule "test/token/CodeIgniter"]
	path = test/token/CodeIgniter
	url = https://github.com/bcit-ci/CodeIgniter.git
[submodule "test/token/magento1"]
	path = test/token/magento1
	url = https://github.com/bragento/magento-core
[submodule "test/token/magento2"]
	path = test/token/magento2
	url = https://github.com/magento/magento2
[submodule "test/token/opencart"]
	path = test/token/opencart
	url = https://github.com/opencart/opencart.git
